html {
    height: 100%;
    user-select: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(226, 225, 225);
    height: 100%;
    color: #FFF;
    overflow-y: hidden;
}

hr 
{
    background-color: #FFF;
    margin-right: 50px;
}

::-webkit-scrollbar-track 
{
  background:transparent;
  border: thin solid transparent;
  box-shadow: 0px 0px 3px transparent inset;
  border-radius: 10px;
}

input {
    border: none;
    padding: 3px 5px;
    color: white;
    width: 300px;
    outline: none;
    background-color: #303030;
}

table {
    width: 100%;
}

tr {
    border-bottom: rgb(255, 255, 255, .25) solid 0.5px;
}

td {
    padding: 0px 10px;
}

th {
    padding: 0px 10px;
}

.conteudo {
    height: calc(100% - 80px);
    width: calc(100% - 200px);
    margin-left: 200px;
}

.navbar-perfil {
    height: 30px;
    width: calc(100% - 200px);
    z-index: 999;
    margin-left: 200px;
    line-height: 30px;
    position: fixed;
    background-color: black;
    padding-right: 10px;
}

.tela {
    height: 100%;
    margin-bottom: 80px;
    /* background-color: rgb(24, 24, 24); */
    background: #080808;
    overflow-y: auto;
    padding-bottom: 30px;
}

.tela-transparente-overlay {
    height: 100%;
    width: 100%;
    margin-bottom: 80px;
    background: #0808089d;
    overflow-y: auto;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 999;
}

.criar-playlist-overlay {
    width: 50%; 
    height: auto; 
    background-color: rgb(24, 24, 24);
    left: 25%; 
    bottom: 30%; 
    position: absolute;
}

.criar-playlist-imagem {
    margin: 10px 0px 30px 30px;
    width: 200px;
    height: 200px;
    float: left;
}

.criar-playlist-form {
    margin: 10px 0px 0px 30px;
    width: calc(100% - 260px);
    height: 200px;
    float: left;
}
#criar-playlist-titulo {
    width: calc(100% - 30px);
}

.criar-playlist-imagem img {
    width: 100%;
    height: 100%;
}

.adicionar-playlist-item {
    padding: 2px 5px; font-size: 12px;
}
.adicionar-playlist-item:hover {
    background-color: rgb(90, 90, 90);
}
.adicionar-playlist-dropdown {
    max-width: 150px; 
    max-height: 100px; 
    background-color: rgb(63, 63, 63);
    position: absolute; 
    z-index: 9999; 
    overflow-y: auto;
}

.adicionar-playlist-tela-transparente {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: 9998; 
    left: 0px; 
    top: 0px;
}

/* NavbarPerfil */
.dropdown-item:active
{
  background-color: #00ff99;
}

/* MENU */
.menu {
    width: 200px;
    font-size: 16px;
    height: calc(100% - 80px);
    float: left;
    background-color: #000000;
    position: fixed;
    padding-top: 20px;
}

.menu-item {
    color: rgb(201, 201, 201);
    padding-left: 20px;
}

.menu-cor {
    color: rgb(201, 201, 201);
    font-weight: 700;
}
.menu-cor:hover {
    color: white;
}

.menu-para-voce {
    color: rgb(201, 201, 201);
    padding-left: 20px;
    transition-delay: 0.2s;
    transition: 0.1;
}

.menu-item:hover{
    transition: 0.1;
    border-left: 3px solid #00c978;
}

.menu-selecionado {
    border-left: 3px solid #00c978;
}

.menu-nova-playlist {
    width: 100%;
    padding: 20px 0px 20px 20px;
    border-top: rgb(255, 255, 255, .25) solid 0.5px;
    position: absolute;
    bottom: 0px;
}

/** PAGINA ARTISTA CSS*/
.artista-nome-titulo {
    font-size: 36px;
    padding-top: 70px;
    border-bottom: 1px rgba(223, 223, 223, 0.658) solid;
    height: 125px;
}

.fundo-header {
    background: linear-gradient(0deg,#080808 10%, #3f3f3f 100%);
}

/** PLAYLIST SELECIONADA **/

.playlist-selecionada-header {
    font-size: 36px;
    padding-top: 30px;
}
.playlist-selecionada-imagem-header {
    height: 200px; 
    width: 200px; 
    float: left;
}
.playlist-selecionada-imagem-header:hover {
    opacity: 0.5;
}
.playlist-selecionada-imagem-header img {
    height: 100%;
    width: 100%;
}

.playlist-selecionada-titulo {
    padding-left: 20px;
    height: 200px;
    width: calc(100% - 200px);
    float: left;
}

.playlist-selecionada-titulo-nome {
    bottom: 0px; 
    position: absolute;
}

/** ALBUM CSS */

.album {
    padding-left: 20px;
    padding-right: 20px;
}

.album-header {
    width: 100%; 
    height: 150px; 
    padding: 12.5px 0px;
}

.album-imagem-album {
    width: 125px; 
    height: 125px; 
    float: left;
}

.album-imagem-album:hover {
    opacity: 0.5;
}

.album-imagem-album img {
    width: 125px; 
    height: 125px;
}

.album-body {
    margin-bottom: 30px;
}

.album-info {
    width: calc(100% - 125px);
    padding-left: 12.5px; 
    padding-right: 12.5px; 
    height: 125px; 
    float: left; 
}

.album-lancamento {
    font-size: 12px;
    color: rgb(177, 177, 177);
}

.album-titulo {
    font-size: 28px;
}

.album-tabela-indice{
    width: 40px;
}

.album-tabela-like{
    width: 40px;
}

.album-tabela-titulo{
    width: auto;
}

.album-tabela-tempo{
    width: 80px;
}


/** ARTISTAS CSS */

.artistas-titulo-artista {
    font-size: 36px;
    padding-top: 70px;
    border-bottom: 1px rgba(223, 223, 223, 0.658) solid;
    height: 125px;
}

.artistas-filtros-pesquisa {
    padding: 20px 0px;
    height: 100px;
    border-bottom: 1px rgba(223, 223, 223, 0.658) solid;
}

.artistas-nome-artista {
    color: #00FF99;
}

.artistas-nome-artista:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #00c978;
}

.artistas-foto-artista {
    width: 150px;
    height: 150px;
}

.artistas-foto-artista:hover {
    cursor: pointer;
    opacity: 0.5;
}

/** PLAYER CSS */
.player {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #1b1b1b;
    user-select: none;
}
.player .icon-circle {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.player .controles {
    width: calc(100% - 300px);
    height: 65px;
    float: left;
    text-align: center;
    padding-top: 15px;
}

.player .tempo {
    width: 100%;
    display: block;
    text-align: center;
}

.player .tempo .tempo-musica {
    width: auto;
    display: inline-block;
}

.player .tempo .tempo-barra-musica {
    display: inline-block;
    transition-delay: 2s;
    transition-duration: 0.15s;
    height: 3px;
    width: 70%;
    max-width: 350px;
    background-color: rgb(174, 175, 175);
    border-radius: 1px;
    margin-bottom: 3px;
}

.player .tempo .tempo-barra-musica:hover {
    transition: 0.15s;
    border-radius: 2px;
    height: 5px;
}

.player .tempo .tempo-barra-musica .tempo-barra-tocado{
    height: 100%;
    width: 0px;
    background-color: #00FF99;
}

.player .info-musica {
    float:left;
    width: 300px;
    height: 80px;
}

.player .info-musica #capa-album {
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    padding: 10px; 
    border: none;
}

.player .info-musica #descricao-musica {
    width: calc(100% - 90px);
    padding: 5px;
    height: 80px;
    float: left;
}

/*perfil*/
.div-img
{
    margin-left: -10px;
}

.info-perfil
{
    color: #b9b9b9;
}

.btn-editar
{
  width: 300px;
  height: 50px;
  background-color: #000000;
  color: #b9b9b9;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 40px;
  border: 2px solid #b9b9b9;
  transition: .5s;
  font-weight: 700;
  margin: 65px 35px 10px 0px;
}

.btn-editar:hover
{
  background-color: #3e3e3e;
  color: #ffffff;
  border-color: #ffffff;
  width: 305px;
  margin-right: 33px;
}

.btn-remover
{
    margin: 20px 126px 0px 0px;
    color: #b9b9b9;
}

.btn-remover:hover
{
    color: #ffffff;
}

.btn-voltar
{
    margin: 20px 162px 0px 0px;
    color: #b9b9b9;
}

.btn-voltar:hover
{
    color: #ffffff;
}

.btn-plano
{
    font-weight: 400;
    margin-left: 50px;
    background-color: #000000;
    border-color: #00FF99;
    color: #00FF99;
    border-radius: 15px;
}

.btn-plano:hover
{
    color: #ffffff;
    border-color: #ffffff;
}