html {
    height: 100%;
}

body {
    background-color: rgb(226, 225, 225);
    height: 100%;
    color: #FFF;
    overflow-y: hidden;
}

.separador {
    border-bottom: 1px solid #00FF99;
}

.tela {
    height: calc( 100% );
    padding-bottom: 80px;
    background-color: rgb(29, 29, 29);
    overflow-y: auto;
}

/** ARTISTA CSS */
.artista-info {
    margin-left: 20px;
    float: left;
}

.artista-foto {
    float: left;
    width: 80px;
    height: 80px;
}

.artista-foto img {
    width: 80px;
    height: 80px;
}

.artista-ouvintes {
    display: inline-block
}

.artista-ir-para {
    cursor: pointer;
}

/** ALBUM CSS */
.album-info {
    margin-left: 20px;
    float: left;
}

.album-foto {
    float: left;
    width: 80px;
    height: 80px;
}

.album-foto img {
    width: 80px;
    height: 80px;
}

.album-lancamento {
    display: inline-block
}

.album-ir-para {
    cursor: pointer;
}

/** PLAYER CSS */
.player {
    position: fixed;
    margin-left: 100px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    user-select: none;
}
.player .icon-circle {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.player .controles {
    width: calc(100% - 300px);
    height: 65px;
    float: left;
    text-align: center;
    padding-top: 15px;
}

.player .tempo {
    width: 100%;
    display: block;
    text-align: center;
}

.player .tempo .tempo-musica {
    width: auto;
    display: inline-block;
}

.player .tempo .tempo-barra-musica {
    display: inline-block;
    height: 3px;
    width: 70%;
    max-width: 350px;
    background-color: rgb(174, 175, 175);
    border-radius: 1px;
    margin-bottom: 3px;
}

.player .tempo .tempo-barra-musica .tempo-barra-tocado{
    height: 100%;
    width: 0px;
    background-color: #00FF99;
}

.player .info-musica {
    float:left;
    width: 300px;
    height: 80px;
}

.player .info-musica #capa-album {
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    padding: 10px;
}

.player .info-musica #descricao-musica {
    width: calc(100% - 90px);
    padding: 5px;
    height: 80px;
    float: left;
}
